@font-face {
    font-family: Mellow;
    src: url("Mellow.otf");
}

body {
    background-color: seashell;
}

h1 {
    font-family: Mellow;
    text-align: center;
}

h3 {
    font-family: Mellow;
    text-align: center;
}

.row {
    text-align: center;
    font-family: Mellow;
}